.selector {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d5d5d5;
    width: 60px;
    height: 35px;
    border-right: none;
    margin-top: 2px;
    margin-right: -12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.selector-check {
    height: 18px;
    width: 18px;
    margin-top: 7px;
    margin-left: -4px;
    outline: 2px solid #f1f1f1;
}

.container-main {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 1000px;
    min-height: 300px;
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    height: auto;
    box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 5%), 0 0.5rem 1.2rem rgb(0 0 0 / 6%);
    border-radius: 12px;
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-bottom: 50px;
}

.container-main .highlight {
    min-height: 60px;
    height: auto;
    background: #E7E7E7;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 14px 25px;
}

.container-main .highlight .icon {
    width: 26px;
    border-radius: 100%;
    background: #FDC72B;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 14px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 5%), 0 0.5rem 1.2rem rgb(0 0 0 / 10%);
}

.container-main .highlight .info {
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
}

.container-main .highlight .info .name {
    font-size: 22px;
    font-weight: 600;
    color: #0A385C;
    margin: 0px;
    margin-top: 7px;
    cursor: pointer;
}

.container-main .highlight .info .designation {
    font-size: 16px;
    font-weight: 400;
    color: #5D5D5D;
    margin: 0px;
    margin-top: 5px;
}

.container-main .highlight .info .social {
    width: 20px;
    height: 20px;
    background-color: #CBCBCB;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.container-main a {
    color: inherit;
    text-decoration: inherit;
}

.container-main .highlight .copy {
    padding: 10px;
    width: 34px;
    height: 36px;
    background-color: #E1E5F1;
    border-radius: 4px;
    vertical-align: top;
    margin-left: 30px;
    float: right;
    cursor: pointer;
}

.container-main .highlight .copy img {
    max-width: 32px;
    height: auto;
    margin-left: 2px;
    margin-top: 2px;
}

.container-main .details {
    padding: 20px 28px;   
}

.container-main .details .job,
.container-main .details .stage {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    color: #959595;
}

.container-main .details .job .drop,
.container-main .details .stage .drop {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    color: #0A385C;
    margin-left: 9px;
    cursor: pointer;
}

.container-main .details .job .drop span,
.container-main .details .stage .drop span {
    color: #5D5D5D;
    font-size: 11px;
    margin-left: 11px;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.container-main .details .stage {
    margin-left: 24px;
}

.container-main .details .options {
    float: right;
    vertical-align: top;
    margin-left: 40px;
}

.container-main .details .options img {
    max-width: 24px;
    margin-left: 15px;
    margin-top: -2px;
    cursor: pointer;
}

.container-main .activities {
    margin-top: 30px; 
    margin-bottom: 15px;
}

.container-main .activities .information {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 400;
    color: #959595;
}

.container-main .activities .information span {
    font-weight: 500;
    color: #0A385C;
    cursor: pointer;
}

.container-main .activities .tags {
    float: right;
    vertical-align: top;
    margin-left: 50px;
    margin-right: 10px
}

.container-main .activities .tags .item {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    border-radius: 20px;
    background-color: #DEE9F2;
    padding: 9px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #0A385C;
    border: 1px solid #DEE9F2;
    cursor: pointer;
    margin-top: -8px
}

.container-main .activities .tags .item:hover {
    border: 1px solid #1A8FE6;
    color: #1A8FE6;
}

.container-main .activities .tags .item.ex {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 9px 0px 9px 10px;
}

.container-main .activities .tags .item.ex:hover {
    background-color: transparent;
    border: 1px solid transparent;
    color: #0A385C;
}

.container-main .cards {
    margin-top: 30px;
    overflow-y: hidden;
    max-width: 940px;
    overflow-x: scroll;
    white-space: nowrap;
}

.container-main .cards .item {
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 5%), 0 0.5rem 1.2rem rgb(0 0 0 / 2%);
    border-radius: 10px;
    min-height: 170px;
    height: auto;
    width: 185px;
    padding: 22px;
    margin-right: 20px;
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
    white-space: break-spaces;
}

.container-main .cards .item-lg {
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    box-shadow: 0 0.125rem 0.375rem rgb(0 0 0 / 5%), 0 0.5rem 1.2rem rgb(0 0 0 / 2%);
    border-radius: 10px;
    min-height: 300px;
    max-height: 420px;
    height: auto;
    width: 320px;
    overflow-y: hidden;
    margin-right: 20px;
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
    white-space: break-spaces;
}

.container-main .cards .item-lg .header {
    min-height: 60px;
    height: auto;
    background: #E7E7E7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 14px 25px;
}

.container-main .cards .item-lg .details {
    max-height: 180px;
    overflow-y: auto;
}

.container-main .cards .item-lg .header .close {
    width: 24px;
    float: right;
    margin-top: -50px;
}

.container-main .cards .item-lg .header p {
    font-size: 21px;
    font-weight: 600;
    color: #000000;
}

.container-main .cards .item-lg .details p {
    font-size: 16px;
    font-weight: 400;
    color: #404752;
}

.container-main .cards .item p {
    margin: 0px;
}

.container-main .cards .item p.heading {
    font-size: 16px;
    font-weight: 400;
    color: #959595;
}

.container-main .cards .item p.detail {
    font-size: 16px;
    font-weight: 400;
    color: #404752;
    margin-top: 8px;
}

.container-main .cards .item p.detail span {
    color: #0A385C;
}

.container-main .cards .item p.info {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #CCCCCC;
    position: absolute;
    bottom: 22px;
}

.container-main .cards .item img {
    width: 52px;
    margin-top: 10px;
    margin-left: -5px;
}

.container-main .middle {
    max-height: 230px;
    position: relative;
    z-index: 0;
}

.active-card {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.active-card::-webkit-scrollbar { 
    display: none;  
}