.App {
 text-align: center;
 text-align: -webkit-center;
 text-align: -moz-center;

}

.App-header {
  background-color: #FFF;
  min-height: 100vh;
  padding: 60px 50px;
  color: #000000;
}

nav {
  background-color: #222f3e;
  min-height: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  padding-top: 20px;
}

footer {
  background-color: #d5d5d5;
  min-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #232323;
  padding-top: 20px;
}

footer a {
  color: inherit;
}

/* custom scroll bar */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}